<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<div role="document">
<div id="Item.MessagePartBody" class="_rp_05">
<div id="Item.MessageUniqueBody" class="_rp_15 ms-font-weight-regular ms-font-color-neutralDark rpHighlightAllClass rpHighlightBodyClass" style="font-family: 'wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif,serif,'EmojiFont';">
<div class="rps_51a7">
${body}
<div>
<div style="background-color: #ffffff;">
<table border="0" width="650" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td width="650">
<table border="0" width="650" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="650" height="62">
<table style="display: inline-table;" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" width="168"><a title="Direcci&oacute;n URL original: http://notificacion.avianca.com/re?l=D4I1dmgsecIduodlwxI0ITjmj7wgsm
Haga clic o pulse si conf&iacute;a en este v&iacute;nculo." href="https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fnotificacion.avianca.com%2Fre%3Fl%3DD4I1dmgsecIduodlwxI0ITjmj7wgsm&amp;data=02%7C01%7Cjaime.mathies%40avianca.com%7C230baa25b3094c5fedb508d623b87cd1%7Ca2addd3e83974579ba307a38803fc3bf%7C0%7C0%7C636735672611542905&amp;sdata=8qh6Wdh2EGEQbYInw3FqiNORcK9nfYlVMejAx2Do%2F9w%3D&amp;reserved=0" target="_blank" rel="noopener noreferrer" data-auth="Verified"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/av-slogan-130524-logo.jpg" width="164" height="61" border="0" data-imagetype="External" /></a></td>
<td align="left" valign="top" width="482"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="482" height="9" data-imagetype="External" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td width="650"><span style="color: #da291c; font-family: Verdana,Geneva,sans-serif; font-size: medium;"><strong>Notificaci&oacute;n aplicaci&oacute;n CREW</strong></span></td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="text-align: center; font-size: 0px; background-color: #eeeeee; height: 1px; padding: 0;"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="1" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="text-align: center; color: #595a5c; font-family: Verdana,Geneva,sans-serif;" align="center">TAG_CUERPO_MENSAJE</td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #ffffff;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #484848;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
<tr>
<td style="background-color: #484848; text-align: center;" align="center"><span style="color: #ffffff; font-family: Verdana,Geneva,sans-serif; font-size: xx-small;"><strong><a style="color: #ffffff;" title="Direcci&oacute;n URL original: http://notificacion.avianca.com/re?l=D4I1dmgsecIduodlwxI1ITjmj7wgsm
Haga clic o pulse si conf&iacute;a en este v&iacute;nculo." href="https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fnotificacion.avianca.com%2Fre%3Fl%3DD4I1dmgsecIduodlwxI1ITjmj7wgsm&amp;data=02%7C01%7Cjaime.mathies%40avianca.com%7C230baa25b3094c5fedb508d623b87cd1%7Ca2addd3e83974579ba307a38803fc3bf%7C0%7C0%7C636735672611542905&amp;sdata=ZFSkoThHbITpes%2FTsRhKSVNR59Nr9kkCMiQ8L6HKqoY%3D&amp;reserved=0" target="_blank" rel="noopener noreferrer" data-auth="Verified">www.avianca.com</a></strong></span></td>
</tr>
<tr>
<td style="background-color: #484848;" height="10"><img src="http://images-aviancataca.com/mail/templates/notificaciones_usuario/images/lyf-trans-dot.gif" width="650" height="10" data-imagetype="External" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="_pe_d _pe_92" tabindex="-1" aria-expanded="false" aria-haspopup="false">&nbsp;</div>
</div>